
  .pad_div_0{
    padding-left: 0px
  }
  .padr_div_0{
    padding-right: 0px;
  }
  .p_style{
    margin-top: 0px; 
    color: #d81b60;
  }
  .hr_style{
    margin-top: 10px; 
    border: 0.5px solid; 
    color: #d81b60
  }
  .td_style{
    margin-bottom:25px;
  }
