.modal_index{
   z-index: 10001;
}
.dialog_withd{
   width: 65%;
}
.img_style{
   margin: auto;
}
.p_mar{
      margin-top: 15px;
}
span.span_style{
  font-size: 9px;
}
.pad_div_0{
  padding-left: 0px;
}
.padr_div_0{
  padding-right: 0px;
}
.bor_top_0{
  border-top:0px;
}
.dialog{
  width: 30%;
}
